# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
web-build/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# MacOS
.DS_Store

# Temporary files created by Metro to check the health of file watcher
.metro-health-check*

# Local Netlify folder
.netlify

# Firebase
.firebaserc
firebase-debug.log
firestore-debug.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage/

# Build outputs
build/
dist/